! Dracula theme
! special
! *.foreground: #F8F8F2
! *.background: #282A36
*.background: #150015
*.foreground: #c5c8c6
*.cursorColor:  #f8f8f8
! black
*.color0:     #000000
*.color8:     #4D4D4D
! red
*.color1:     #FF5555
*.color9:     #FF6E67
! green
*.color2:     #50FA7B
*.color10:    #5AF78E
! yellow
*.color3:     #F1FA8C
*.color11:    #F4F99D
! blue
*.color4:     #BD93F9
*.color12:    #CAA9FA
! magenta
*.color5:     #FF79C6
*.color13:    #FF92D0
! cyan
*.color6:     #8BE9FD
*.color14:    #9AEDFE
! white
*.color7:     #BFBFBF
*.color15:    #E6E6E6

!================
!==   URxvt    ==
!================

! Font to Fira Code Retina, 16px
URxvt.font: xft:Fira Code Retina:style=Retina:pixelsize=12

! Set Bold Font to Fira Code Bold, 16px
URxvt.boldFont: xft:Fira Code:style=Bold:pixelsize:12

! Set Italics Font to Fira Code Light, 16px
URxvt.italicFont: xft:Fira Code:style=Light:pixelsize:12

! no scrollbar
URxvt.scrollBar: false

URxvt.depth:        32

! Make urxvt background transparent
URxvt.background: [90]#150015

!===============
!==   SXIV    ==
!===============

! Background color
Sxiv.background:    #000000
Sxiv.foreground:    #ffffff
