#!/bin/sh

# Screen layout setup
[ -f ~/.screenlayout/GLaDOS.sh ] && source ~/.screenlayout/GLaDOS.sh

# Locate Xresources file
[ -f ~/.Xresources ] && xrdb -merge ~/.Xresources

# Map tablet to main monitor
[ -f ~/.local/bin/wacom2monitor ] && ~/.local/bin/wacom2monitor "HEAD-0"

# Turn NumLock on
numlockx on

# Use Caps Lock as additional Escape key
setxkbmap -option caps:escape

# Hide mouse cursor
unclutter &
