#!/bin/sh

# Screen layout setup
[ -f ~/.screenlayout/GLaDOS.sh ] && source ~/.screenlayout/GLaDOS.sh

# Locate Xresources file
[ -f ~/.Xresources ] && xrdb -merge ~/.Xresources

# Hide mouse cursor
unclutter &

# Turn NumLock on
numlockx on
