#!/bin/sh

# Dual screen setup
xrandr --output DP-0 --off --output DP-1 --off --output HDMI-0 --mode 1920x1080 --pos 2560x0 --rotate left --output DP-2 --primary --mode 2560x1080 --pos 0x0 --rotate normal --output DP-3 --off --output DP-4 --off --output DP-5 --off --output USB-C-0 --off

# Locate Xresources file
[ -f ~/.Xresources ] && xrdb -merge ~/.Xresources

# Hide mouse cursor
unclutter &

# Turn NumLock on
numlockx on

# Swap Esc and Caps Lock
#setxkbmap -option caps:swapescape
